<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>
<body>
    <br>
    <div style="text-align: center; margin-bottom: 15px">Original HTML:</div>
    <div class="col-md-6 offset-md-3">
        <div class="card">
            <div class="card-header">
                <ul class="nav nav-tabs card-header-tabs" id="Tab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="tab-1" data-toggle="tab" href="#content-1" role="tab" aria-selected="true">Tab-1</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="tab-2" data-toggle="tab" href="#content-2" role="tab" aria-selected="true">Tab-2</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="tab-3" data-toggle="tab" href="#content-3" role="tab" aria-selected="true">Tab-3</a>
                    </li>
                </ul>
            </div>
            <div class="tab-content" id="TabContent">
                <div class="row card-body tab-pane fade show active" id="content-1" role="tabpanel">Content 1</div>
                <div class="row card-body tab-pane fade" id="content-2" role="tabpanel">Content 2</div>
                <div class="row card-body tab-pane fade" id="content-3" role="tabpanel">Conent 3</div>
            </div>
        </div>
    </div>

    <div style="height: 5px; background-color: grey; margin: 40px"></div>

    <!-- Vue.js components -->
    <div style="text-align: center; margin-bottom: 15px">Vue.js components:</div>
    <div class="col-md-6 offset-md-3">
        <div id="app-1">
            <card-panel v-bind:card_panel_prop="data_app"></card-panel>
        </div>
    </div>
    <!-- /Vue.js components -->

    <!-- Component-Templates -->
    <script type="text/x-template" id="card-panel-template">
        <div class="card">
            <div class="card-header">
                <ul class="nav nav-tabs card-header-tabs" id="tab-list" role="tablist">
                    <tab-item v-for="tab in data_card_panel.tab_links" v-bind:tab_link="tab.link" v-bind:href="tab.href"></tab-item>
                </ul>
            </div>
            <div class="tab-content" id="tab-content">
                <!-- All the content-components -->
                <content-item v-for="content_ in data_card_panel.contents" v-bind:content="content_.content" v-bind:id="content_.id"></content-item>
            </div>
        </div>
    </script>


    <script type="text/x-template" id="tab-item-template">
        <li class="nav-item">
            <a v-if="[[tab_link]] == 'first'" class="nav-link active" :href="href" data-toggle="tab" role="tab" aria-selected="true">[[ tab_link ]]</a>
            <a v-else class="nav-link" :href="href" data-toggle="tab"  role="tab" aria-selected="true">[[ tab_link ]]</a>
        </li>
    </script>


    <script type="text/x-template" id="content-item-template">
        <div v-if="[[id]] == 'href-con-1' " class="row card-body tab-pane fade show active" :id="id" role="tabpanel">[[ content ]]</div>
        <div v-else class="row card-body tab-pane fade" :id="id" role="tabpanel">[[ content ]]</div>
    </script>
    <!-- /Component-Templates -->

    <!-- Bootstrap, jQuery and Vue.js -->
    <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script type="text/javascript" src="vue_components.js"></script>
</body>
</html>